/build/
/dist/
/.idea/
/.vscode/
nbproject/private/
/webrev
/.src-rev
/.jib/
.DS_Store
.metadata/
.recommenders/
test/nashorn/script/external
test/nashorn/lib
NashornProfile.txt
**/JTreport/**
**/JTwork/**
src/utils/LogCompilation/
*.args
.build.rb
cflags
cxxflags
ldflags
build_objcopy
build_objdump
msvc_cl
msvc_cl_version
msvc_lib
msvc_link
msvc_rc
